<!DOCTYPE html>
<html>
  <%= render :partial => "layouts/shared/header" %>
<body>

<div>
  <% if current_user %>
    <%= yield %>
  <% else %>
    <%= render :file => "layouts/maincontent" %>
  <% end %>
</div>

<%= render :partial => "layouts/shared/footer" %>
</body>
</html>
